{% load static %}
{% block JheadScript %}
    <script src="{% static 'ser_social/js/ajoutP.js' %}" type="text/javascript"></script>
{% endblock %}
{% block stylesheet%}
	<link href="{% static 'ser_social/css/accueil.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'ser_social/css/recherche.css'%}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="panel-heading">
    <span class="pan_title">Nouveau Pelerinage</span>
    <button type="button" class="close" id="close">×</button>
</div>
<form id="npel_id" action="{% url 'addPele' %}" method="post" class="niceform panel-body well" novalidate enctype="multipart/form-data">{% csrf_token %}
        <fieldset >

            <div class="col-sm-9">
            <dl class="dl-horizontal">
                <dt>DATE</dt>
                <dd><input id="id_date" min="0" name="date" type="DATE" required=""></dd>
                <dd><span id="errp"></span></dd>
            </dl>
            <dl class="dl-horizontal">
                <dd>{{ form.file}}</dd>
                <dd>{{ form.file.errors }}</dd>
            </dl>

            <div >
                <input class="btn btn-success col-sm-offset-2" type="submit" value="valider" id="valEng" />
            </div>
                </div>
        </fieldset>

</form>